{% extends "base.html" %}

{% block title %}Certifications{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">My Certifications</h2>
    <ul class="list-group">
    
        <!-- Display an Image -->
    <div class="my-4">
        <img src="{{ url_for('static', filename='images/A+.png') }}" alt="My Picture" class="img-fluid rounded shadow" width="500">,
        <img src="{{ url_for('static', filename='images/Google_CS.png') }}" alt="My Picture" class="img-fluid rounded shadow" width="500">
        
    </div>
        <!-- Add more certifications as needed -->
    </ul>
</div>
{% endblock %}