{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Main Content -->
        <div class="container mt-4">
            <div class="row">
                <div class="text-center col-md-12">
                    <h1 class="mb-4">Welcome Recruiters and Hiring Managers!</h1>
                    <p>Please note this site is still under development and is consistently updated on a daily basis..</p>
        
                    <!-- Display an Image -->
                    <div class="my-4 text-center">
                        <img src="{{ url_for('static', filename='images/LPP4.png') }}" alt="My Picture" class="img-fluid rounded shadow" width="400">
                    </div>
                    <!--<p class="lead text-center"><i><h9>taken after passing the 2023 CompTIA A+ Certification Exam.</h9></i></p>-->
                
                    </div>
                </div>
        

            <div class="my-5">
                <h8><i>echo</i></h8><h1> :~whois DavidO</h1> <p>TLDR: a nerd.</p>
                
                <p>Building this website has taught me a few things , such as port forwarding and how to connect a site to the internet, how to set up a reverse proxy, and how to properly configure an SSL certificate for HTTPS.</p>                
                <p>I am not trying to be a web developer; this is all just a learning process. With that in mind...</p>
                <p>Hello, I'm an aspiring cybersecurity practitioner trying to make my debut into the field of Information Technology. I intend to utilize the soft skills I obtained from years of being a server and bartender in the Service Industry and apply them to the customer service-based position I am currently seeking.</p>
                <p>With no prior work experience in IT, my aim is to secure a help desk position and I believe my customer service skills along with the CompTIA A+ Certification will do just that.</p>
                <p>In the meantime, to get some personal experience, I conduct homelabs to analyze the traffic on my home network using tools like Wireshark and TCPdump. I set up this web server using Flask and gunicorn on a Raspberry Pi. I'm using Nginx as a reverse proxy and also running a Pi-hole server for ad blocking.</p>
                <p>It's been almost two years since I decided to make a career change into the Information Technology field and I'm proud of how far I've come. However, I am aware of the disadvantages of not having a formal education. For one, I sometimes lack guidence or a sense of direction, but I do have a goal, and thats to find a Help Desk position as soon as possible.</p>
                
                <h1>Things My Resume Wont Tell You</h1>
                <p>I'm at a point in my life where I'm able to focus solely on me and my career. </p>
                <p>My years of being in the Service Industry has taught me great customer service, communication and conflict resolution skills.</p>
                <p>I always try to remain humble and ready-to-learn. I work well with others but I flourish when I work alone. I'm adaptable, resilient, and patient.</p>
                <p>I pride myself in my work ethic. I am loyal to a fault. I'm looking longevity and for a company that I can provide value to and in return, I can become part of the community. I am not looking for a job, I'm looking for a career.</p>
                <p>I'm believer of Luck = Preparation + Opportunity, Value = Time + Focus(Energy)</p>
                <p>I remember these fomulas when I find myself distracted, it reminds me of my goals and helps me get back on track.</p>

                <!-- Link to Blog Page -->
                <div class="my-4 text-center">
                    <a href="{{ url_for('blog.view_posts') }}" class="btn btn-info btn-lg">Learn More About Me</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notes Section -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Your Notes</h2>
            {% if user.notes %}
            <ul class="list-group list-group-flush mb-4" id="notes">
                {% for note in user.notes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ note.data }}
                    <button type="button" class="btn btn-danger btn-sm" onClick="deleteNote('{{ note.id }}')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Leave me note or a message!!</p>
            {% endif %}

            <!-- Add Note Form -->
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <textarea name="note" id="note" class="form-control mb-3" placeholder="Write your note here..." rows="3"></textarea>
                <button type="submit" class="btn btn-primary">Add Note</button>
            </form>
        </div>
    </div>
</div>

<script>
    // JavaScript function to delete a note
    function deleteNote(noteId) {
        fetch('/delete-note', {
            method: 'POST',
            body: JSON.stringify({ noteId: noteId }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((_res) => {
            window.location.href = '/';
        });
    }
</script>

<div id="contact" class="container mt-5">
    <h2 class="text-center">Contact Me</h2>
    <p class="text-center">Feel free to reach out to me via email or LinkedIn!</p>
    <div class="text-center">
        <a href="mailto:david.onate312@gmail.com" class="btn btn-primary">Email Me</a>
        <a href="https://www.linkedin.com/in/davidonate312" target="_blank" class="btn btn-secondary">LinkedIn</a>
    </div>
</div>
{% endblock %}
